apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: minecraft
resources:
  - namespace.yaml
  - helm-repository.yaml
  - helm-release.yaml
  - console.yaml # Legg til denne linjen